In [2]:
#imports
import zipfile
import pandas as pd

In [2]:
#Parameters
years = [2018, 2019, 2020, 2021, 2022]
output_columns = ['activity_year', 'derived_msa_md', 'county_code','census_tract', 
    'loan_type','action_taken', 'property_value', 'derived_dwelling_category',
    'reverse_mortgage','open_end_line_of_credit']

In [45]:
#Download Coastal data 

! mkdir -p Coastal
! wget -P Coastal https://www2.census.gov/library/stories/2018/08/coastline-counties-list.xlsx

'\n! mkdir -p Coastal\n! wget -P Coastal https://www2.census.gov/library/stories/2018/08/coastline-counties-list.xlsx\n'

In [36]:
#Downloading HMDA data

! mkdir -p HMDA
for year in years:
    if year != 2017:
        stem = '{}/{}'.format(year,year)
    else:
        stem = str(year)
    zip_link = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/snapshot-data/{}_public_lar_csv.zip'.format(stem)
    ! wget -P HMDA {zip_link}
    archive = zipfile.ZipFile('HMDA/{}_public_lar_csv.zip'.format(year))
    for file in archive.namelist():
        archive.extract(file, 'HMDA')

"\n! mkdir -p HMDA\nfor year in years:\n    if year != 2017:\n        stem = '{}/{}'.format(year,year)\n    else:\n        stem = str(year)\n    zip_link = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/snapshot-data/{}_public_lar_csv.zip'.format(stem)\n    ! wget -P HMDA {zip_link}\n    archive = zipfile.ZipFile('HMDA/{}_public_lar_csv.zip'.format(year))\n    for file in archive.namelist():\n        archive.extract(file, 'HMDA')\n"

In [44]:
#Preprocessing - figuring out what columns to cut so can load more quickly into pandas
#Run once on downloaded data files and then recomment out

header = ! head -1 HMDA/2018_public_lar_csv.csv
columns = list(header)[0].split(',')

#finding the number for the columns to keep ('cut') based on output_columns parameter
numbers = ''
for name in output_columns:
    numbers = numbers + str(columns.index(name) +1) + ','
numbers = numbers[:-1]

#running cut on each .csv file in the HMDA folder to save as smaller, uniformly named .csv
file_list = !ls HMDA
for file in file_list:
    if file.endswith('csv'):
        ! cut -d ',' -f {numbers} HMDA/{file} >> HMDA/{file[:4]}.csv

In [3]:
df_2018 = pd.read_csv('HMDA/2018.csv')

In [4]:
df_2018.head()

,activity_year,derived_msa_md,county_code,census_tract,derived_dwelling_category,action_taken,loan_type,reverse_mortgage,open_end_line_of_credit,property_value
0,2018,40140,6071.0,6071009709.0,Single Family (1-4 Units):Site-Built,1,2,2,2,215000
1,2018,33460,27141.0,27141030101.0,Single Family (1-4 Units):Site-Built,1,1,2,2,225000
2,2018,47664,26125.0,26125183900.0,Single Family (1-4 Units):Site-Built,1,1,2,2,315000
3,2018,12060,13057.0,13057090400.0,Single Family (1-4 Units):Site-Built,1,1,2,2,255000
4,2018,29820,32003.0,32003005853.0,Single Family (1-4 Units):Site-Built,1,1,2,2,325000

In [ ]:
##Download for Fema Shapefile data and FEMA Risk data
'''
! mkdir -p Fema_ShapeFiles
! wget -P Fema_ShapeFiles https://hazards.fema.gov/nri/Content/StaticDocuments/DataDownload//NRI_Shapefile_CensusTracts/NRI_Shapefile_CensusTracts.zip

! mkdir -p Fema
! wget -P Fema https://hazards.fema.gov/nri/Content/StaticDocuments/DataDownload//NRI_Table_CensusTracts/NRI_Table_CensusTracts.zip
'''